// Color Scheme

$primary-background: #656bdd;
$secondary: #e2a0b4;
$black: #0e0d0d;
$white: #FFFFFF;

$red: #c94444;
$green: #2eaa49;
$yellow: #e3e645;


//  font styles

$font-family-header: 'Poppins', sans-serif;
$font-family-body: 'Manrope', sans-serif;
$font-family-button: 'Liter', sans-serif;

$font-size-rg: 1em; // 16px
$font-size-sm: 0.875em; // 14px
$font-size-md: 1.125em; // 18px
$font-size-lg: 1.375em; // 22px

$font-weight-rg: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
